<html>
    <head>
        <title>Prototype SiAsisten</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1><a href="">Percobaan isi</a></h1>
        </div>
        <div>
            {% for entry in entry_log %}

                <br> <h3> {{ entry.log_name }} </h3>
                <br> {{ entry.log_content }}
                <br>
            {% endfor %}
        </div>
    </body>
</html>